@model IEnumerable<FullFits_MarkSherriff.Models.Setting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Settings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailReceiptMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailReceiptMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
